<!-- Google Tag Manager (idle-deferred to avoid blocking LCP/FCP) -->
<script>
window.dataLayer = window.dataLayer || [];
window.dataLayer.push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
function _loadGTM() {
    var f = document.getElementsByTagName('script')[0],
        j = document.createElement('script');
    j.async = true;
    j.src = 'https://www.googletagmanager.com/gtm.js?id=GTM-TBKDQH2B';
    f.parentNode.insertBefore(j, f);
}
if ('requestIdleCallback' in window) {
    requestIdleCallback(_loadGTM, { timeout: 4000 });
} else {
    setTimeout(_loadGTM, 3500);
}
</script>
<!-- End Google Tag Manager -->
